<ion-header>
  <ion-toolbar>
    <ion-title>
      我的ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button class="button button-calm">下拉菜单</button>
  <ion-tabs>
    <ion-tab-bar tab="home">
      <h1>Home Content</h1>
    </ion-tab-bar>
    <ion-tab-bar tab="settings">
      <h1>Settings Content</h1>
    </ion-tab-bar>
  
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-label>Settings</ion-label>
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      底部信息
    </ion-title>
  </ion-toolbar>
</ion-footer>      
